<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="HeaderRecordType" value="HDR"/>
    <add key="DetailRecordType" value="DTL"/>
    <add key="TrailerRecordType" value="TLR"/>
  </appSettings>
</configuration>